.grid-cell{
    font-size: 15px;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    width: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: fit-content;
}

.grid-cell-date{
    width: 120px;
    font-weight: bold;
}

.grid-row{
    width: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    color: rgb(210, 210, 210);
}

.grid-header-row{
    font-weight: bold;
}