.HistoryPage-body{
    overflow: hidden;
    height: 100%;
}

.HistoryPage-header-content{
    display: flex;
    flex-direction: row;
}

.HistoryPage-header-label{
    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
    height: 80px;
    text-align: start;
    padding-left: 5px;
    box-sizing: border-box;
}

.HistoryPage-header-input{
    height: 30px;
}

.HistoryPage-entry {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.15s ease;
    position: relative;
}
.HistoryPage-entry:hover {
    color: white;
    background-color: rgb(34, 34, 34);
    box-shadow:  0px 0px 10px rgb(10, 10, 10);
    border-radius: 5px;
}

.HistoryPage-entry:hover > .History-page-entry-content > .HistoryPage-entry-delete-btn {
    width: 20px;
    margin-left: 5px;
    color: white;
}

.HistoryPage-entry:hover > .HistoryPage-entry-collapse {
    height: fit-content;
    max-height: 50px;
}

.HistoryPage-entry-collapse{
    max-height: 0px;
    text-align: left;
    overflow: hidden;
    transition: all 0.75s ease;
    margin-left: 25px;
}

.History-page-entry-content{
    display: flex;
    flex-direction: row;
}

.HistoryPage-entry-delete-btn{
    width: 0px;
    padding: 0px;
    margin: 0px;
    border: none;
    background: none;
    color: rgb(210, 210, 210);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    transition: all 0.15s ease;
}

.HistoryPage-entry-main{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 22px;
}

.HistoryPage-entry-main > div {
    margin-right: 15px;
    padding-bottom: 2px;
}

.HistoryPage-content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.HistoryPage-grid{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    box-sizing: content-box;
    justify-content: flex-start;
}

.HistoryPage-header-select{
    margin-top: 27px;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    background: none;
    border: white 1px solid;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.HistoryPage-header-select:focus{
    background: white;
    color: black;
}

.HistoryPage-select-label{
    font-size: 15px;
    font-weight: bold;
    line-height: 80px;
    height: 100%;
    margin-left: 50px;
}