.SummaryPage-body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.SummaryPage-header-label{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: start;
    margin-top: 20px;
}

.SummaryPage-main-header-label{
    margin-top: 0px;
}

.SummaryPage-income-expense-block {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    
}

.SummaryPage-income-expense-line {
    margin-right: 50px;
}

.SummaryPage-income-expense-category{
    margin-left: 25px;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}