.Dashboard-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 40px 40px;
    box-sizing: border-box;
}

.Dashboard-header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100px;
}

.Dashboard-header-label {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 30px 0;
    width: 150px;
}

.Dashboard-nav-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 30px;
    margin: auto 0px;
}

.Dashboard-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height:100%;
    overflow: hidden;
}

.Dashbaord-content-left{
    width: 450px;
}

.Dashboard-content-right{
    margin-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}