.grid-cell{
    font-size: 15px;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.grid-cell-date{
    width: 100px;
    font-weight: bold;
}

.grid-row{
    width: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    
    transition: all 0.15s ease;
}

.grid-row:hover {
    background-color: rgb(34, 34, 34);
    box-shadow:  0px 0px 10px rgb(10, 10, 10);
}

.grid-header-row{
    font-weight: bold;
}