.HistoryPage-body{
    overflow: hidden;
    height: 100%;
}

.HistoryPage-header-content{
    display: flex;
    flex-direction: row;
}

.HistoryPage-header-label{
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    text-align: start;
    padding-left: 5px;
    box-sizing: border-box;
}

.HistoryPage-header-input{
    height: 30px;
}

.HistoryPage-entry {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.HistoryPage-entry-main{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.HistoryPage-entry-main > div {
    margin-right: 15px;
}

.HistoryPage-entry-collapse{
    text-align: left;
    margin-left: 20px;
    display: none;
}

.HistoryPage-content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.HistoryPage-grid{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    box-sizing: content-box;
    justify-content: flex-start;
}