.SummaryPage-body{
    width: 100%;
}

.SummaryPage-header-label{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: start;
    margin-top: 20px;
}

.SummaryPage-main-header-label{
    margin-top: 0px;
}

.SummaryPage-income-expense-block {
    font-size: 40px;
    font-weight: bold;
    display: flex;
}

.SummaryPage-income-expense-line {
    margin-right: 50px;
}
